.topbar-wrapper img[alt="Swagger UI"], .topbar-wrapper span{
    visibility: hidden;
}

.topbar-wrapper .link:after {
    content: "SuggestionsAPI";
    color: cornflowerblue;
    visibility: visible;
    display: block;
    position: absolute;
    padding: 17px;
}

.download-url-wrapper #select {
    /*border-color: red;*/
    display: none;
}

.swagger-ui .info, .title small:last-child {
    color: cornflowerblue;
    /*background-color: red !important;*/
}